header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 15px 20px;
  border-bottom: 1px solid var(--border-color);
  img {
    max-width: 140px;
  }
  .btn{
    font-size: 20px;
  }
}